body {
  margin: 0;
}
.sheet-outer {
  margin: 0;
}
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.sheet-outer.A4 .sheet {
  width: 210mm;
  height: 296mm;
}
.sheet.padding-5mm {
  padding: 5mm;
}

@media screen {
  body {
    background: #e0e0e0;
  }

  .sheet {
    background: white;
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    margin: 5mm auto;
  }
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  .sheet-outer.A4,
  .sheet-outer.A5.landscape {
    width: 210mm;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
